<header>
  <div layout="horizontal" layout-fill layout-align="center center">

    <div>
      <md-button ng-click="toggleLeft()" class="md-primary" hide-md>
        Toggle left
      </md-button>
    </div>

  </div>
</header>
<div flex layout="vertical" layout-sm="horizontal">
  <aside>

      <md-sidenav class="md-sidenav-left " component-id="left" is-locked-open="$media('md')">

      <md-toolbar class="md-theme-indigo">
        <h1 class="md-toolbar-tools">サイドメニュー</h1>
      </md-toolbar>
      <md-content class="md-padding" ng-controller="LeftCtrl">
        <md-button ng-click="close()" class="md-primary" hide-md>
          ちっちゃいメニューを閉じる
        </md-button>
        <p hide show-md>
          通常メニュー
        </p>
      </md-content>

    </md-sidenav>

  </aside>
  <main flex>
    <md-toolbar md-theme="indigo">
      <div layout="horizontal" layout-align="center">
          <h1>'Allo, 'Allo!</h1>
      </div>
      <div layout="horizontal" layout-align="center">
          <img src="assets/images/yeoman.png" alt="I'm Yeoman">
      </div>
    </md-toolbar>
  </main>

</div>

<footer>
  <p>Angular Fullstack v2.0.13 |
    <a href="https://twitter.com/tyhenkel">@tyhenkel</a> |
       <a href="https://github.com/DaftMonk/generator-angular-fullstack/issues?state=open">Issues</a></p>
</footer>
