<header>
  <div layout="horizontal" layout-fill layout-align="center center">

    <div>
      <md-button ng-click="toggleLeft()" class="md-primary" hide-md>
        Toggle left
      </md-button>
    </div>

  </div>
</header>
<div flex layout="vertical" layout-sm="horizontal">
  <aside>
    <!-- 左メニュー -->
    <md-sidenav class="md-sidenav-left md-whiteframe-z5" component-id="left" is-locked-open="$media('md')">

      <md-toolbar class="md-theme-indigo">
        <h1 class="md-toolbar-tools">サイドメニュー</h1>
      </md-toolbar>
      <md-content class="md-padding" ng-controller="LeftCtrl">
        <div hide-md>
          <md-button ng-click="close()" class="md-primary" >ちっちゃいメニューを閉じる</md-button>
          <ng-include src="'app/main/buttons.html'"></ng-include>
        </div>

        <div hide show-md layout="column">
          <div><md-button class="md-raised" ui-sref="main.top()">トップ</md-button></div>
          <div><md-button class="md-raised" ui-sref="main.bottomsheet()">ボタン画面</md-button></div>
        </div>
      </md-content>
    </md-sidenav>

  </aside>
  <main flex>
    <ui-view name="content"></ui-view>
  </main>

</div>

<footer>
  <p>Angular Fullstack v2.0.13
</footer>
